NODE_ENV=development
PORT=3001
DATABASE_URL=postgresql://orderflow:orderflow@localhost:5432/orderflow_dev
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
AWS_REGION=us-east-1
EVENT_BUS_NAME=orderflow-event-bus
LOCALSTACK_ENDPOINT=http://localhost:4566
CORS_ORIGIN=http://localhost:4200
