NODE_ENV=development
PORT=3002
AWS_REGION=us-east-1
SQS_QUEUE_URL=http://localhost:4566/000000000000/orderflow-notifications
LOCALSTACK_ENDPOINT=http://localhost:4566
CORS_ORIGIN=http://localhost:4200
